# Created by .ignore support plugin (hsz.mobi)
### SBT template
# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.cache
.lib/
### Example user template template
### Example user template

# IntelliJ project files
.idea
gen### Scala template
*.log
### Processing template
.DS_Store
applet
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx

# IntelliJ project files
gen
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
